<%= fields_for "search[options]", OpenStruct.new(search_options) do |builder| %>
  <% provider_options.each do |key, value| %>
    <div class="field">
      <%= builder.label value[:name] + (value[:required] == true ? "*" : "") %><br/>
      <%= builder.text_field key, value: builder.object[key] || value[:default] %>
    </div>
  <% end %>
<% end %>
