.classification-critical
{
  /*background-color: #d73027;*/
  background-color: rgba(215,48,39,0.4);
}

.classification-very_high
{
  /*background-color: #f46d43;*/
  background-color: rgba(244,109,67,0.4);
}

.classification-high
{
  /*background-color: #FDAE61;*/
  background-color: rgba(253,174,97,0.4);
}

.classification-medium
{
  /*background-color: #fee090;*/
  background-color: rgba(254,224,144,0.4)
}

.classification-low
{
  /*background-color: #ffffbf;*/
  background-color: rgba(255,255,191,0.4)
}

.classification-very_low
{
  /*background-color: #e0f3f8;*/
/*  background-color: rgba(244,243,248,0.4)*/
  background-color: rgba(207, 230, 236, 0.5);
}

.classification-success
{
  
  background-color: #abd9e9
}

.classification-failed
{
  background-color: #d73027;
  
}